@media only screen and (min-width: 700px){
    nav{
        background-color: #57f09e;
        height: 50px;
    }
    #menu{
        display: none;
    }
    .navItem a{
        padding: 20px;
        background-color: black;
        color: #57f09e;
        padding-top: 50px;
    }
    .infoSpace{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
       
    }
    #spotLight{
        grid-column: 1/3;
    }
    .discover main{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .sidebar{
        width: 300px;
        height: fit-content;
    }
    .images img{
        border: #57f09e solid 10px;
        filter: grayscale();
    }
    .images img:hover{
        filter: none;
        scale: 1.1;
    }
        /* -------------Join Page--------------- */
    .joinMain{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    form{
        grid-column: 1/2;
        grid-row: 1/3;
        width: 100%;
    }
    .membershipPrincing{
        grid-column: 2/3;
        grid-row: 1/2;
        width: fit-content;
        height: fit-content;
        margin: auto auto;
    }
    .membershipBenefits{
        grid-column: 2/3;
        grid-row: 2/3;
        width: fit-content;
        height: fit-content;
    }
}


