@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik+Microbe&display=swap');

body{
    margin: 0;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
nav{
    display: flex;
    flex-direction:column-reverse;
    background-color: #080845;
    overflow: hidden;
}

nav a, nav span{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-size: 25px; 
}
nav a{
    display: none;
}
nav a.open{
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
}
.close::before{
    content: "❌";
}

header{
    background: #9de0fd;
    height: 128px;
}
header img{
    width: 130px;
    text-align: left;
}
header span{
    font-weight: 900;
    font-size: 150%;
    vertical-align: middle;
}
main{
    width: auto;
    height: auto;
}
#temple{
    position:absolute;
    font-weight: 900;
    
}
main picture img{
    width: 100%;
}
main h2{
    width: 100%;
    border-bottom: solid black 2px;
    text-align: center;
}
#learningActivity span{
    text-align: left;
    margin-left: 10px;
}
.card{
    border:solid black 1px;
    border-radius: 10px;
    max-width: 450px;
    height: auto;
    margin: 0 auto 10px;
}
.card span{
    list-style: none;
    text-align: center;
}
.cardContent{
    text-align: left;
}
main h3{
    border-bottom: #9de0fd solid 1px;
    background-color: #9de0fd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    margin: auto;  
}
iframe{
    width: 100%;
    height: auto;
}